@charset "UTF-8";
/* #4bc1b1 초록
   #f8ca37 노랑  
   #82d5ca 초록호버
   #fbdb79 노랑호버*/
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Noto Sans KR', sans-serif;
	color : #303030;
}

/*manager_user_list*/
#manager_user_list{
	padding-top: 20px;
	width: 1000px;
	text-align: center;
}
#manager_user_list > span{
	font-size: 25px;
	font-weight: 600;
	color: #f8ca37;
	display: inline-block;
}
#manager_user_list > .user_filter{
	text-align: right;
	margin: 20px;
	margin-right: 50px;
}

#manager_user_list > .list{
	width: 900px;
	margin: 0 auto;
	border-top: 2px solid #f8ca37;
	border-bottom: 2px solid #f8ca37;	
}
#manager_user_list > .list > .title{
	padding: 15px 0;
	margin: 0 5px;
}
#manager_user_list > .list > .title > span{
	display: inline-block;
	font-size: 0.8em;
	font-weight: 600;
	text-align: center;
}
#manager_user_list > .list > .items span{
	display: inline-block;
	font-size: 0.9em;
}
#manager_user_list >  .list span.no{ width: 40px}
#manager_user_list >  .list span.userCode{ width: 50px}
#manager_user_list >  .list span.id{ width: 110px}
#manager_user_list >  .list span.name{ width: 80px}
#manager_user_list >  .list span.phone{ width: 130px}
#manager_user_list >  .list span.birth{ width: 100px}
#manager_user_list >  .list span.email{ width: 130px}
#manager_user_list >  .list span.regDate{ width: 100px}
#manager_user_list >  .list span.gender{ width: 50px}
#manager_user_list >  .list span.socialJoin{width: 60px}

#manager_user_list > .list > .items > .item{
	padding: 8px 0;
	margin: 0 10px;
	border-top: 1px solid #ccc;
	cursor: pointer;
}
#manager_user_list > .list > .items > .item:hover > span{
	color: #fbdb79;
}
#manager_user_list > .paging_btns{
	margin-top:20px;
}
#manager_user_list > .paging_btns > button{
	height: 30px;
	padding: 5px 10px;
	margin: 0 5px;
	border: none;
	border-radius: 10px;
	background: none;
	font-size: 0.8em;
	font-weight: 600;
	color: #f8ca37;
	cursor: pointer;
}
#manager_user_list > .paging_btns > button:hover{
	color: #fbdb79;
}

/*manager_camping_list*/
#manager_camping_list{
	padding-top: 20px;
	width: 1000px;
	text-align: center;
}
#manager_camping_list> span{
	font-size: 25px;
	font-weight: 600;
	color: #f8ca37;
	display: inline-block;
}

#manager_camping_list> .camping_filter .search{
	margin-left : 620px;
}

#manager_camping_list > .camping_filter,
#manager_user_list > .user_filter,
#manager_request_list > .request_filter{
	text-align: right;
	margin: 20px;
	margin-right: 50px;
}
#manager_camping_list > .camping_filter > form,
#manager_user_list > .user_filter > form,
#manager_request_list > .request_filter > form{
	display: flex;
	justify-content: space-between;
	padding-left: 40px;
}
#manager_camping_list > .camping_filter .filter,
#manager_user_list > .user_filter .filter,
#manager_request_list > .request_filter .filter{
	padding-top: 14px;
}
#manager_camping_list > .camping_filter .filter input[type=radio],
#manager_user_list > .user_filter .filter input[type=radio],
#manager_request_list > .request_filter .filter input[type=radio]{
    display: none;
}
#manager_camping_list > .camping_filter .filter input[type=radio]+label,
#manager_user_list > .user_filter .filter input[type=radio]+label,
#manager_request_list > .request_filter .filter input[type=radio]+label{
    display: inline-block;
    cursor: pointer;
    height: 24px;
    width: 90px;
    border: 1px solid #333;
    line-height: 24px;
    text-align: center;
    font-weight:bold;
    font-size: 13px;
    background-color: #fff;
    color: #333;
}
#manager_camping_list > .camping_filter .filter input[type=radio]:checked+label,
#manager_user_list > .user_filter .filter input[type=radio]:checked+label,
#manager_request_list > .request_filter .filter input[type=radio]:checked+label{
    background-color: #fbdb79;
    color: #fff;
    border: none;
}
#manager_camping_list > .camping_filter > form > .search > input,
#manager_user_list > .user_filter > form > .search > input,
#manager_request_list > .request_filter > form > .search > input{
	border: 2px solid #f8ca37;
	border-radius: 5px;
	padding-left: 5px;
	font-size: 1em;
}
#manager_camping_list > .camping_filter > form > .search > img,
#manager_user_list > .user_filter > form > .search > img,
#manager_request_list > .request_filter > form > .search > img{
	width: 22px;
	height: 22px;
	position: relative;
	top: 8px;
	margin: 5px;
	cursor: pointer;
}

#manager_camping_list > .list{
	width: 950px;
	margin: 0 auto;
	border-top: 2px solid #f8ca37;
	border-bottom: 2px solid #f8ca37;	
}
#manager_camping_list > .list > .title{
	padding: 10px 0;
	margin: 0 10px;
}
#manager_camping_list > .list > .title > span{
	display: inline-block;
	font-size: 1em;
	font-weight: 600;
	text-align: center;
}
#manager_camping_list > .list > .items span{
	display: inline-block;
	font-size: 0.9em;
}
#manager_camping_list >  .list span.no{ width: 50px}
#manager_camping_list >  .list span.cUserCode{ width: 100px}
#manager_camping_list >  .list span.iName{ width: 180px}
#manager_camping_list >  .list span.mName{ width: 80px}
#manager_camping_list >  .list span.phone{ width: 100px}
#manager_camping_list >  .list span.address1{ width: 250px}
#manager_camping_list >  .list span.address2{ width: 120px}
/* #manager_camping_list >  .list span.state{ width: 120px} */
#manager_camping_list >  .list span.sido{ display: none}

#manager_camping_list > .list > .items > .item{
	padding: 10px 0;
	margin: 0 10px;
	border-top: 1px solid #ccc;
	cursor: pointer;
}
#manager_camping_list > .list > .items > .item:hover > span{
	color: #fbdb79;
}
#manager_camping_list > .paging_btns{
	margin-top:20px;
}
#manager_camping_list > .paging_btns > button{
	height: 30px;
	padding: 5px 10px;
	margin: 0 5px;
	border: none;
	border-radius: 10px;
	background: none;
	font-size: 0.8em;
	font-weight: 600;
	color: #f8ca37;
	cursor: pointer;
}
#manager_camping_list > .paging_btns > button:hover{
	color: #fbdb79;
}

/*manager_account_list*/

#manager_account_list{
	padding-top : 20px;
	width: 1000px;
	margin: 0px auto;
	text-align: center;
	--border: 1px solid #000;
}

#manager_account_list > span{
	font-size: 25px;
	font-weight: 600;
	color: #f8ca37;
	display: inline-block;
}
#manager_account_list .frm_manager_account_list{
	text-align : right;
	margin : 15px auto;
	padding : 10px;
}
#manager_account_list > .account_search{
	display: inline-block;
	width: 380px;
	margin : 50px;
}
#manager_account_list > .frm_manager_account_list .account_findStr{
	margin-bottom: 5px;
	border: 2px solid #f8ca37;
	border-radius: 5px;
	padding: 10px;
	width: 250px;
	height: 30px;
}
#manager_account_list > .frm_manager_account_list .account_search img{
	--display: inline-block;
	cursor: pointer;
	margin-top : 10px;
}
#manager_account_list > .list{
	width: 950px;
	margin-left: 50px;
}
#manager_account_list > .list > .title{
	background-color: #f8ca37;
	color: #fff;
	padding: 2px 5px;
}
#manager_account_list > .list > .title span{
	color: #fff;
}
#manager_account_list > .list span{
	display: inline-block;
	text-align: center;
}
#manager_account_list > .list .item{
	padding-top: 5px;
	padding-bottom: 5px;
}
#manager_account_list > .list .no{
	width: 25px;
	text-align: center;
}
#manager_account_list > .list .aUserCode{width: 80px; text-align: center;}
#manager_account_list > .list .id{width: 90px; text-align: center;}
#manager_account_list > .list .mName{width: 60px; text-align: center;}
#manager_account_list > .list .birth{width: 100px; padding-left: 15px; text-align: center;}
#manager_account_list > .list .phone{width: 150px; text-align: center;}
#manager_account_list > .list .email{width: 115px; text-align: center;}
#manager_account_list > .list .gender{width: 50px; padding-left: 15px; text-align: center;}
#manager_account_list > .list .regDate{width: 115px; text-align: center;}
#manager_account_list > .list .job{width: 60px; text-align: center;}
#manager_account_list > .list .delete_account{
	width: 50px;
	--padding-right: 30px;
	text-align: center;
}
#manager_account_list > .list .item:hover{
	background-color: #fef2cf;
	cursor: pointer;
	transition : all .2s;
}
#manager_account_list > .list .item:last-child{
	border-bottom: 2px solid #f8ca37;
	margin-bottom: 8px;
}
#manager_account_list .paging{
	text-align: center;
}
#manager_account_list .paging button{
	border: none;
	background-color: #fff;
	color: #f8ca37;
	font-size: 16px;
	font-weight: bold;
	padding: 10px;
}
#manager_account_list .paging button:hover{
	color: #fef2cf;
	cursor: pointer;
}
#manager_account_list .btn_prev_page{
	border: 1px solid #f8ca37;
	border-radius: 5px;
	background-color: #f8ca37;
	color: #fff;
	font-size: 17px;
	width: 100px;
	height: 30px;
	text-align: center;
	margin-left: 900px;
	--top: 6960px;
}
#manager_account_list .btn_prev_page:hover{
	background-color: #fbdb79;
	cursor: pointer;
}