<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace='com.campin.mybatis.UserQnaMapper'>
	<select id='selectQ' parameterType='Integer' resultType='UserQnaVo'>
		select b.sno, b.grp, b.seq, b.userCode, b.itemCode, b.pwd, b.nal, b.title, b.doc, b.state, i.iName, u.id 
		from user u, item i, board b 
		where u.userCode = b.userCode
		and u.userCode = #{userCode}
		and i.itemCode = b.itemCode
		and b.seq = 0
		order by b.sno
	</select>
	
	<select id='selectA' parameterType='Integer' resultType='UserQnaVo'>
		select b.sno, b.grp, b.seq, b.userCode, b.itemCode, b.pwd, b.nal, b.title, b.doc, b.state, i.iName, u.id 
		from user u, item i, board b 
		where u.userCode = b.userCode
		and u.userCode = #{userCode}
		and i.itemCode = b.itemCode
		and b.seq = 1
		order by b.sno
	</select>
	
	<update id='update' parameterType='UserQnaVo'>
		update board set doc=#{doc}
		where sno = #{sno}
	</update>
	
	<delete id='delete' parameterType='UserQnaVo'>
		delete from board where sno =#{sno}
	</delete>
</mapper>